[submodule ".vscode"]
	path = .vscode
	url = https://github.com/pathob/.vscode-esp32.git
[submodule "components/connectivity"]
	path = components/connectivity
	url = https://github.com/pathob/esp32-connectivity.git
[submodule "components/periphery"]
	path = components/periphery
	url = https://github.com/pathob/esp32-periphery.git
[submodule "components/libesphttpd"]
	path = components/libesphttpd
	url = https://github.com/chmorgan/libesphttpd.git
