menu "MQTT config"

	config MQTT_HOST
	    string "MQTT Host"
		default "iot.eclipse.org"
	
	config MQTT_PORT
	    int "MQTT Port"
	    default 1883
	
	config MQTT_CLIENT_ID
	    string "MQTT Client ID"
	    default "ESP32"
	
	config MQTT_USERNAME
	    string "MQTT Username"
	
	config MQTT_PASSWORD
	    string "MQTT Password"
	
endmenu
